*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: fixed;
  padding: 0rem calc((100vw-1300px) / 2);
  padding-left: 7%;
  padding-right: 8%
}
.navbar ul 
{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li
{
   font-family: century;
   font-size: 1.1rem;
   font-weight: bold;
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 10px 35px;
    transition: all .5s ease;
}
.navbar ul li a:hover
{
    background-color: #00000046;
    color: rgb(255, 255, 255);
    box-shadow: 10 0 10px rgba(0, 0, 0, 0);
}
.logo
{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    font-family: "Dokdo", system-ui;
} 
.mainpage 
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(image/oceanthree.jpg);
    background-size: cover;
    background-position: center;
}
.mainpage-text
{
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
}
.mainpage h1
{
    color: floralwhite;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.mainpage p
{
    color:floralwhite;
    font-size: 25px;
    margin-bottom: 50px;
}
.aboutme
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(image/countryside.jpg);
    background-size: cover;
    background-position: center;
}
.aboutme img
{
    height: 500px;
    width: 430px;
    border-radius: 10px;
}
.text-content
{
    width: 550px;
}
.aboutme-content
{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-content h1
{
    color: floralwhite;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 120px;
    margin-bottom: 30px;
}
.text-content h2
{
    color: floralwhite;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.text-content h3
{
    color: floralwhite;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.text-content ul li
{
    color: floralwhite;
    list-style: georgian;
    letter-spacing: 0.1rem;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}
.whereilive
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(image/whereilive2.jfif);
    background-size: cover;
    background-position: center;
}
.title h1
{
    color: floralwhite;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    margin-top: 0px;
}
.title h2
{
    color: floralwhite;
    font-size: 40px;
    text-align: center;
}
.title p
{
    color: floralwhite;
    text-align: center;
}
.portfolio
{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    padding: 20px;
}
.whereilive-img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 50px;
    margin-right: 80px;
}
.whereilive-img img
{
    width: 360px;
    height: 240px;
    margin: 10px;
    border-radius: 10px;
}
.gallery
{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(image/panggallery.jpg);
    background-size: cover;
    background-position: center;
}
.gallery h1
{
    color: floralwhite;
    font-family: "Dokdo", system-ui;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
}
.box
{
    display: block;
    float: left;
    width: 20%;
    padding: 10px;
}
.gallery img
{
  width: 80%;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.gallery img:hover
{
    transform: scale(2,2);
    transition: 3;
}
.container
{
    height: 100vh;
    width: 100%;
    background-image: url(image/oceantwo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form
{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
.container form h1
{
   color: #1A2421;
   font-weight: 500;
   font-size: 50px;
   margin-top: 20px;
   width: 500px;
   text-align: center;
   font-family: "Dokdo", system-ui;
   text-transform: capitalize;
}
.container form input
{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}
.container form input::placeholder
{
    color:#1A2421;
}
.container form #lastName,
.container form #mobile
{
    margin-left: 20px;
}
.container form h4
{
    color: #1A2421;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.container form textarea
{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #1A2421;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}
textarea::-webkit-scrollbar
{
    width: 1em;
}
textarea::-webkit-scrollbar-thumb
{
    background-color: rgba(194, 194, 194, 0.713);
}
.container form #button
{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.container form #button:hover
{
  opacity: 0.7;
}